{% extends 'base.html' %}
{% block content %}
<div class="row d-flex justify-content-center mt-3">
    <h3>Komunikasi via API</h3>
</div>
<div class="row d-flex justify-content-center mt-3">
    <p>
        Untuk melakukan komunikasi dengan API kita membutuhkan url<br>
        untuk akses.<br><br>
        Contoh : http://seskiramadhan.pythonanywhere.com/api?id=1<br>
        id yang digunakan adalah id yang ada di halaman CRUD<br><br>
        Untuk akses via script, silahkan download file di github<br>
        link nya sudah saya attach diatas, nama filenya : request_api.py.<br>
        Silahkan install dulu python, sebelum klik filenya.
    </p>
</div>
{% endblock %}