{% extends 'base.html' %}
{% block content %}
<div class="row d-flex justify-content-center mt-3">
    <h3>Keunggulan Network Automation</h3>
</div>
<div class="row mt-3">
    <div class="col-3"> 
    </div>
    <div>
        <ul>
            <li>Kecepatan</li>
            <p>
                <br>
                Me-manage network device secara manual adalah opsi yang bisa kita lakukan.<br>
                Tetapi masalah akan muncul saat jumlah device yang cukup banyak.<br>
                Dengan menggunakan automation, kecepatan bisa diraih dengan maksimal.<br>
            </p>
            <li>Akurasi</li>
            <p>
                <br>
                Melakukan aksi terhadap device, baik itu konfigurasi, pengambilan log,<br>
                ataupun aksi lainnya dengan manual bisa dilakukan, tetapi resiko human error<br>
                tidak bisa kita hindari. Salah ketik, salah klik, itu adalah hal yang biasa terjadi.<br>
                Dengan menggunakan automation, semua itu bisa kita atasi.<br>
            </p>
            <li>Pengulangan</li>
            <p>
                <br>
                Dengan menggunakan automation, kita bisa menghilakan aksi yang repetitif.<br>
                Semua hal yang berbau repetitif kita bisa definisikan diawal dan kita ulang<br>
                terus menerus, sesuai dengan keinginan.<br>
            </p>
            <li>Pengembangan</li>
            <p>
                <br>
                Dengan kinerja yang lebih cepat, akurasi yang lebih baik, dan waktu yang kita<br>
                bisa hemat dengan menggunakan automation, membuat kita bisa lebih fokus untuk<br>
                melakukan pengembangan terhadap infrastruktur yang kita manage.<br>
            </p>
        </ul>  
    </div>
</div>

{% endblock %}