{% extends 'base.html' %}
{% block content %}
<div class="row d-flex justify-content-center mt-3">
    <h3>Python Library untuk Network Automation</h3>
</div>
<div class="row d-flex justify-content-center mt-3">
    <div>
        <ul>
            <li>REST APIs - requests</li>
            <p>
                <br>
                pip install requests<br>
                import requests<br>
            </p>
            <li>NETCONF - ncclient</li>
            <p>
                <br>
                pip install ncclient<br>
                import ncclient<br>
            </p>
            <li>Network CLI - netmiko</li>
            <p>
                <br>
                pip install netmiko<br>
                import netmiko<br>
            </p>
            <li>SNMP - PySNMP</li>
            <p>
                <br>
                pip install pysnmp<br>
                import pysnmp<br>
            </p>
        </ul>  
    </div>
</div>

{% endblock %}